<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>EnderecoServlet</servlet-name>
        <servlet-class>br.com.treebu.control.EnderecoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutorServlet</servlet-name>
        <servlet-class>br.com.treebu.control.AutorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>br.com.treebu.control.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditoraServlet</servlet-name>
        <servlet-class>br.com.treebu.control.EditoraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstoqueServlet</servlet-name>
        <servlet-class>br.com.treebu.control.EstoqueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioServlet</servlet-name>
        <servlet-class>br.com.treebu.control.FuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneroServlet</servlet-name>
        <servlet-class>br.com.treebu.control.GeneroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdiomaServlet</servlet-name>
        <servlet-class>br.com.treebu.control.IdiomaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LivroServlet</servlet-name>
        <servlet-class>br.com.treebu.control.LivroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAutenticacaoServlet</servlet-name>
        <servlet-class>br.com.treebu.control.LoginAutenticacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoServlet</servlet-name>
        <servlet-class>br.com.treebu.control.PedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoLivroServlet</servlet-name>
        <servlet-class>br.com.treebu.control.PedidoLivroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoffServlet</servlet-name>
        <servlet-class>br.com.treebu.control.LogoffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnderecoServlet</servlet-name>
        <url-pattern>/EnderecoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutorServlet</servlet-name>
        <url-pattern>/AutorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditoraServlet</servlet-name>
        <url-pattern>/EditoraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstoqueServlet</servlet-name>
        <url-pattern>/EstoqueServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioServlet</servlet-name>
        <url-pattern>/FuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneroServlet</servlet-name>
        <url-pattern>/GeneroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdiomaServlet</servlet-name>
        <url-pattern>/IdiomaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LivroServlet</servlet-name>
        <url-pattern>/LivroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAutenticacaoServlet</servlet-name>
        <url-pattern>/LoginAutenticacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoServlet</servlet-name>
        <url-pattern>/PedidoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoLivroServlet</servlet-name>
        <url-pattern>/PedidoLivroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoffServlet</servlet-name>
        <url-pattern>/LogoffServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
